<mat-toolbar>
  <span>Dashboard</span>
  <div style="flex: 1 1 auto;"></div>
  <button mat-button routerLink="/">Logout</button>
</mat-toolbar>

<div style="margin: 10px;">
  <mat-grid-list cols="2" gutterSize="10px" >
    <mat-grid-tile routerLink="/addmeal">

      <div style="text-align: center; font-weight: bold; padding: 10px;">
        Add meals <br>
        (for Restaurant)
      </div>

    </mat-grid-tile>
    <mat-grid-tile >


        <div style="text-align: center; font-weight: bold; padding: 10px;"> Check your email to accept the Welcome Message!</div>


    </mat-grid-tile>
  </mat-grid-list>
</div>
