<mat-toolbar>
  <span routerLink="/">ServByte</span>
  <div style="flex: 1 1 auto;"></div>
  <button mat-button routerLink="/createaccount" >Signup</button>
  <button mat-button routerLink="/login" >Login</button>
</mat-toolbar>
<br><br>
<form [formGroup]="addForm">

  <mat-card style="width: 300px; margin: auto; text-align: center;">
    <mat-card-title>
      Delivery Company
    </mat-card-title>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Company name</mat-label>
        <input matInput type="text" name="companyname" formControlName="companyname"/>
      </mat-form-field>

      <mat-form-field style="width: 100%;" appearance="outline">
        <mat-label>City</mat-label>
        <mat-select  name="city" formControlName="city" class="form-control">
          <mat-option value="Abuja">Abuja</mat-option>
          <mat-option value="Lagos">Lagos</mat-option>
          <mat-option value="Ibadan">Ibadan</mat-option>
          <mat-option value="Uyo">Uyo</mat-option>
          <mat-option value="Port Hacourt">Port Hacourt</mat-option>
          <mat-option value="Enugu">Enugu</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Phone +234</mat-label>
        <input matInput formControlName="phone" type="text" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" />
      </mat-form-field>

    </mat-card-content>
    <mat-card-actions>

      <button mat-stroked-button (click)="onSubmit()">Submit</button>

    </mat-card-actions>
  </mat-card>



</form>
